# Cross Validation
We've looked at a range of topics involved with fitting a model to data. This began with the simplest of regression cases and determining criteria for an optimal model, which led us to mean squarred error. From there, we further examined overfitting and underfitting which motivated train test split and later, the bias variance tradeoff. Here, we synthesize many of these ideas into a new sampling, optimization meta-routine known as cross validation. 

A common form of cross validation is known as K-folds. In this process, the dataset is partitioned into K equally sized groups. Each group is then used as a hold out test set while the remaining k-1 groups are used as a training set. This then produces K different models, one for each of the hold out test sets. These models can then be averaged (perhaps a weighted average based on their test set performance) in order to produce a finalized model.

This is also a very useful method for helping to determine the generalization of our models, or the anticipated difference between train and test errors for the model.

## 1. K-Folds
Write a function k-folds that splits a dataset into k evenly sized pieces.
If the full dataset is not divisible by k, make the first few folds one larger then later ones.

In [1]:
import pandas as pd

In [2]:

def kfolds(data, k):
    
    data = pd.DataFrame(data)
    num_observations = len(data)
    fold_size = num_observations//k
    num_leftovers = num_observations%k
    folds = []
    start_obs = 0
    
    for fold_n in range(1, k+1):
        if fold_n <= num_leftovers:
            fold = data.iloc[start_obs : start_obs + fold_size + 1]
            folds.append(fold)
            start_obs += fold_size+1
        else:
            fold = data.iloc[start_obs : start_obs + fold_size]
            folds.append(fold)
            start_obs += fold_size
            
    return folds #folds should be a list of subsets of data

## 2. Cross Validation
* Split your dataset into 10 groups using your kfolds function above.
* Perform linear regression on each and calculate the training and test error. 
* Create a simple bar chart to display the various train and test errors for each of the 10 folds.

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [4]:
df = pd.read_excel('movie_data_detailed_with_ols.xlsx')
X_feats = ['budget', 'imdbRating',
       'Metascore', 'imdbVotes']
y_feat = 'domgross'
df.head()

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
0,13000000,25682380,21 &amp; Over,0,2008,6.8,48,206513,4.912759e+07
1,45658735,13414714,Dredd 3D,0,2012,0.0,0,0,2.267265e+05
2,20000000,53107035,12 Years a Slave,0,2013,8.1,96,537525,1.626624e+08
3,61000000,75612460,2 Guns,0,2013,6.7,55,173726,7.723381e+07
4,40000000,95020213,42,0,2013,7.5,62,74170,4.151958e+07

In [5]:
folds = kfolds(df, k=10)

# Previews, just to demonstrate

In [6]:
folds[0]

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
0,13000000,25682380,21 &amp; Over,0,2008,6.8,48,206513,4.912759e+07
1,45658735,13414714,Dredd 3D,0,2012,0.0,0,0,2.267265e+05
2,20000000,53107035,12 Years a Slave,0,2013,8.1,96,537525,1.626624e+08

In [7]:
folds[1]

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
3,61000000,75612460,2 Guns,0,2013,6.7,55,173726,7.723381e+07
4,40000000,95020213,42,0,2013,7.5,62,74170,4.151958e+07
5,225000000,38362475,47 Ronin,0,2013,6.3,28,128766,1.605898e+08

In [8]:
folds[8]

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
24,17000000,54239856,Evil Dead,0,2013,6.5,57,139940,4.076999e+07
25,160000000,238679850,Fast and Furious 6,0,0,0.0,0,0,2.383743e+08
26,150000000,393050114,Frozen,0,2013,7.5,74,483555,2.242330e+08

In [9]:
folds[9]

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
27,140000000,122523060,G.I. Joe: Retaliation,0,2013,5.8,41,158210,1.193156e+08
28,60000000,46000903,Gangster Squad,0,2013,6.7,40,188846,7.125032e+07
29,30000000,4167493,Gloria,0,1980,7.1,0,0,-1.783223e+07

In [10]:
def mse(residual_col):
    residual_col = pd.Series(residual_col)
    return None

In [14]:
test_errs = []
train_errs = []
k=10

for n in range(k):
    #Split into the train and test sets for this fold
    train = pd.concat([fold for i, fold in enumerate(folds) if i != n])
    test = folds[n]
    #Fit Linear Regression Model
    ols = LinearRegression()
    ols.fit(train[X_feats], train[y_feat])
    #Evaluate Train and Test Errors
    y_hat_train = ols.predict(train[X_feats])
    y_hat_test = ols.predict(test[X_feats])
    
    train_residuals = y_hat_train - train[y_feat]
    test_residuals = y_hat_test - test[y_feat]
    
    train_errs.append()

#Plot Train Versus Test Errors for each of the 10 folds

3     8.078942e+06
4    -6.827398e+07
5     1.051599e+08
6     3.945458e+07
7     5.140704e+07
8    -4.702247e+06
9     7.325704e+07
10    2.320391e+07
11   -1.601365e+07
12    2.628053e+07
13    3.166515e+07
14    4.926605e+07
15    2.803825e+07
16   -5.782181e+07
17   -2.242832e+08
18    5.127056e+07
19    1.060238e+08
20    4.591684e+07
21   -3.602355e+07
22   -4.335802e+07
23    6.920775e+07
24   -2.950179e+06
25   -1.042070e+08
26   -1.425503e+08
27    2.135831e+06
28    3.366349e+07
29   -4.384576e+07
Name: domgross, dtype: float64
0    -2.223412e+06
1    -7.716282e+06
2     6.810243e+07
6     4.528310e+07
7     1.634099e+07
8    -2.548011e+07
9     1.048718e+08
10   -2.888492e+07
11   -1.576630e+07
12    3.247205e+07
13    8.376419e+06
14    2.211576e+07
15    2.142562e+07
16   -2.654930e+07
17   -2.314258e+08
18    7.339896e+05
19    1.117827e+08
20    2.939914e+07
21    1.333663e+07
22   -3.829712e+07
23    7.323475e+07
24   -3.172569e+07
25   -8.114920e+07
26   -1.220399e+08
27    5.737436e+07
28    3.182147e+07
29   -2.541318e+07
Name: domgross, dtype: float64
0     2.228030e+07
1     3.016733e+07
2     1.043940e+08
3     4.721644e+06
4    -5.829583e+07
5     1.399506e+08
9     7.256213e+07
10   -9.340520e+06
11   -1.138906e+07
12    2.945949e+07
13    2.316712e+07
14    2.723912e+07
15    2.619422e+07
16   -4.739673e+07
17   -2.387028e+08
18    3.084932e+07
19    8.876556e+07
20    2.996117e+07
21   -2.089751e+07
22   -3.727945e+07
23    6.475234e+07
24   -1.279930e+07
25   -1.095900e+08
26   -1.607681e+08
27    1.156483e+07
28    2.852966e+07
29   -2.809956e+07
Name: domgross, dtype: float64
0     1.565899e+07
1     3.064683e+07
2     9.756693e+07
3     3.780328e+06
4    -5.937359e+07
5     1.511186e+08
6     3.251838e+07
7     2.952838e+07
8    -9.648403e+06
12    2.928896e+07
13    2.075220e+07
14    2.493535e+07
15    2.605505e+07
16   -4.445180e+07
17   -2.406452e+08
18    2.594578e+07
19    9.045611e+07
20    3.604811e+07
21   -1.747674e+07
22   -3.923474e+07
23    6.344799e+07
24   -1.657709e+07
25   -9.914548e+07
26   -1.574879e+08
27    1.693832e+07
28    2.541019e+07
29   -3.605544e+07
Name: domgross, dtype: float64
0     1.818796e+07
1     2.736059e+07
2     1.045958e+08
3     6.933355e+06
4    -5.070348e+07
5     1.384471e+08
6     2.635776e+07
7     3.259861e+07
8    -1.313854e+06
9     7.057249e+07
10   -3.501132e+06
11   -5.593742e+06
15    4.071073e+07
16   -3.794568e+07
17   -2.408751e+08
18    3.466684e+07
19    8.666130e+07
20    2.928826e+07
21   -1.509463e+07
22   -3.640176e+07
23    6.351240e+07
24   -9.309430e+06
25   -1.086047e+08
26   -1.624549e+08
27    1.253730e+07
28    2.344389e+07
29   -4.407591e+07
Name: domgross, dtype: float64
0     2.027857e+06
1     3.243205e+07
2     7.155214e+07
3    -5.770400e+06
4    -5.665691e+07
5     1.224840e+08
6     1.073099e+07
7     1.303340e+07
8    -2.287262e+06
9     5.696737e+07
10   -2.617092e+07
11   -1.157492e+07
12    3.019051e+07
13    2.433851e+07
14    7.565188e+06
18    2.261472e+07
19    6.028088e+07
20    3.361958e+07
21   -2.310215e+07
22   -4.027549e+07
23    4.769845e+07
24   -1.820752e+07
25   -1.048485e+08
26   -1.962058e+08
27   -6.238338e+05
28    6.598310e+06
29   -5.641021e+07
Name: domgross, dtype: float64
0     2.087322e+07
1     4.379396e+07
2     1.153773e+08
3     6.755133e+06
4    -6.154869e+07
5     1.454408e+08
6     3.690719e+07
7     3.355951e+07
8    -8.065514e+06
9     8.106904e+07
10    1.443135e+06
11   -1.492421e+07
12    3.008116e+07
13    2.509111e+07
14    3.462972e+07
15    2.902769e+07
16   -4.481362e+07
17   -2.338230e+08
21   -1.941869e+07
22   -4.057750e+07
23    6.663706e+07
24   -1.256109e+07
25   -9.021227e+07
26   -1.464394e+08
27    1.810319e+07
28    2.788837e+07
29   -4.429366e+07
Name: domgross, dtype: float64
0     1.759159e+07
1     2.749411e+07
2     1.057487e+08
3     2.305647e+06
4    -6.142720e+07
5     1.382412e+08
6     2.906107e+07
7     3.203101e+07
8    -1.066578e+07
9     7.098648e+07
10   -7.610588e+06
11   -1.509481e+07
12    2.677016e+07
13    2.219415e+07
14    2.767273e+07
15    2.634378e+07
16   -4.862970e+07
17   -2.403200e+08
18    2.878989e+07
19    8.921237e+07
20    2.891468e+07
24   -1.585943e+07
25   -1.093724e+08
26   -1.586230e+08
27    1.023603e+07
28    2.397876e+07
29   -3.996960e+07
Name: domgross, dtype: float64
0     2.361978e+07
1     1.441949e+06
2     7.024054e+07
3    -4.482775e+06
4    -4.226033e+07
5     8.342079e+07
6     2.830665e+06
7     4.110565e+07
8     1.032159e+07
9     2.944656e+07
10   -3.665961e+07
11    6.774989e+06
12    3.308785e+07
13    3.225847e+07
14    2.487327e+06
15    3.641667e+07
16   -5.049386e+07
17   -2.675203e+08
18    3.348921e+07
19    3.412063e+07
20   -1.820537e+07
21   -3.118998e+07
22   -2.619201e+07
23    4.926466e+07
27   -2.605325e+07
28    1.703038e+07
29   -4.300190e+06
Name: domgross, dtype: float64
0     2.762520e+06
1     2.562537e+07
2     1.058423e+08
3     4.346275e+05
4    -5.916946e+07
5     1.367693e+08
6     1.620255e+07
7     1.548877e+07
8    -1.038484e+07
9     6.868838e+07
10    1.382809e+06
11   -1.608317e+07
12    2.911243e+07
13    3.099544e+07
14    3.148865e+07
15    4.295757e+07
16   -3.875262e+07
17   -2.466224e+08
18    2.852752e+07
19    8.841441e+07
20    3.390547e+07
21   -1.882048e+07
22   -5.028839e+07
23    5.475151e+07
24   -1.798143e+07
25   -9.905096e+07
26   -1.561959e+08
Name: domgross, dtype: float64

## 4. Analysis
What do you notice about the train and test errors?

In [ ]:
#Your answer here

## 5. Shuffling Datasets
Write a function to randomly sort your dataset prior to cross validation.  
Why  might you want to do this?

In [ ]:
#Your function here

In [ ]:
#Your answer here